ffmpeg-python
flask
flask-cors
faster-whisper==1.2.1
pydub
requests
psutil
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.6.0+cpu
torchaudio==2.6.0+cpu
onnxruntime
numpy<2.0.0,>=1.24.0
scipy
pyyaml
tensorboard
matplotlib
librosa
tqdm
g2p-en
unidecode
phonemizer==3.2.1
huggingface_hub[hf_xet]>=0.23.0,<1.0.0
openunmix==1.3.0
transformers==4.40.0
speechbrain==1.1.0
scikit-learn
# Chatterbox Multilingual (Resemble AI) - Padrão 2026
einops
s3tokenizer
diffusers==0.29.0
conformer==0.3.2
spacy-pkuseg
pykakasi==2.3.0
pyloudnorm
omegaconf
resemble-perth @ git+https://github.com/resemble-ai/Perth.git@master
DeepFilterNet
vpk
fsb5
