ffmpeg-python
flask
faster-whisper
pydub
requests
psutil
torch==2.1.2
torchaudio==2.1.2
numpy<2.0
scipy
pyyaml
tensorboard
matplotlib
librosa
tqdm
g2p-en
unidecode
phonemizer==3.2.1
huggingface_hub[hf_xet]
openunmix
transformers==4.36.2
speechbrain>=1.0.3
Scikit-Learn
chatterbox
DeepFilterNet
llama-cpp-python