ffmpeg-python
flask
flask-cors
faster-whisper
pydub
requests
psutil
--index-url https://download.pytorch.org/whl/cu118
torch==2.1.2+cu118
torchaudio==2.1.2+cu118
onnxruntime-gpu
# Peças do Motor CUDA (NVIDIA) - Download resiliente via PIP
nvidia-cuda-runtime-cu11
nvidia-cublas-cu11
nvidia-cudnn-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
numpy<2.0
scipy
pyyaml
tensorboard
matplotlib
librosa
tqdm
g2p-en
unidecode
phonemizer==3.2.1
huggingface_hub[hf_xet]
openunmix
transformers==4.36.2
speechbrain>=1.0.3
scikit-learn
chatterbox
DeepFilterNet
llama-cpp-python>=0.3.20
vpk
fsb5
